{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ with .Content }}
        <div class="mb-4">{{ . }}</div>
      {{ end }}

      {{ $username := .Params.username }}
      {{ range .Data.Pages }}
        <div class="mb-5">
          <h3 class="mt-1 h4"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
          <div class="text-lighter">
            {{ partial "i18n_date.html" . }}
            {{- if .Params.tags -}}
              &emsp;|&emsp;Tags:
              {{- range .Params.tags }}
              &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
              {{- end -}}
            {{ end }}
          </div>
          <div class="post-entry mt-3">
            {{ if .Description }}
              {{ .Description | plainify }}
            {{ else }}
              {{ .Summary | markdownify | plainify }}
            {{ end }}
            {{ if .Truncated }}
              <a href="{{ .RelPermalink }}" class="d-block mt-2 learn-more">{{ i18n "read-more" }}</a>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
