{{ define "main" }}
<main role="main" style="max-width: 100% !important;">
  <article class="post-content">
    {{ partial "jumbotron" . }}

    <div class="content-width">
      {{ .Content }}

      {{ if .Params.newsletter }}
        <h2 id="newsletter">Newsletter</h2>
        <p>Enter your email address to follow this blog and receive notifications of new posts by email.</p>
        <form method="post" action="https://newsletter.kde.org/subscription/form" class="listmonk-form">
          <div class="mb-3">
            <label for="email-news" class="form-label">Email address:</label>
            <input type="email" name="email" class="form-control" id="emails-new" placeholder="name@example.com">
          </div>

          <input type="hidden" name="nonce" />
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" checked id="plasma-news" value="a22045a1-6a5e-461e-9ddf-f61ae57022ea" name="l">
            <label class="form-check-label" for="plasma-news">This Week in Plasma</label>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" checked id="apps-news" value="6cc7d914-24b5-4363-bd6a-cd70a3af79aa" name="l">
            <label class="form-check-label" for="apps-news">This Week in KDE Apps</label>
          </div>

          <p><input class="btn btn-primary mb-3" type="submit" value="Subscribe" /></p>
        </form>
      {{ end }}

      {{ if .Params.discourse }}
        <h2 id="comments">Comments</h2>
        <div id='discourse-comments'></div>
        <meta name='discourse-username' content='{{ .Params.discourse }}'>
        <script type="text/javascript">
          DiscourseEmbed = {
            discourseUrl: 'https://discuss.kde.org/',
            discourseEmbedUrl: '{{ .Page.Permalink }}',
            // className: 'CLASS_NAME',
          };
    
          (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
          })();
        </script>
      {{ end }}

      {{ partial "include-html" . }}

      {{ partial "related-post" . }}
    </div>
  </article>
</main>
{{ end }}
