{{/*
SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
SPDX-License-Identifier: LGPL-2.1-or-later
*/}}

{{- $appid := .Get "appid" }}
{{- $url := "" }}
{{- if eq $appid "akonadi" }}
  <h3 id="{{ $appid }}"><a href="https://kontact.kde.org/components/akonadi">Akonadi</a> <small class="h5 text-muted">Background service for KDE PIM apps</small></h3>
{{ else }}
  {{- if eq $appid "kaidan" }}
    {{- $url = "https://apps.kde.org/appdata/im.kaidan.kaidan.json" }}
  {{- else if eq $appid "kraft" }}
      <h3 id="kraft"><a href="https://volle-kraft-voraus.de/Main/Kraft">Kraft</a> <small class="h5 text-muted">Quotes and invoices for small business</small></h3>
  {{- else if eq $appid "spectacle" }}
      <h3 id="spectacle"><a href="https://invent.kde.org/graphics/spectacle/">Spectacle</a> <small class="h5 text-muted">Take screenshots and recordings</small></h3>
  {{- else }}
    {{- $url = printf "https://apps.kde.org/appdata/org.kde.%s.json" $appid }}
  {{- end }}
  
  {{- with $url }}
    {{ with try (resources.GetRemote .) }}
      {{ with .Err }}
        {{ errorf "%s" . }}
      {{ else with .Value }}
        {{ $data := . | transform.Unmarshal }}
        <h3 id="{{ $appid }}"><a href="https://apps.kde.org/{{ $appid }}">{{ index $data (slice "Name" "en") }}</a> <small class="h6 text-muted">{{ index $data (slice "Summary" "en") }}</small></h3>
      {{ else }}
        {{ errorf "Unable to get remote resource %q" $url }}
      {{ end }}
    {{ else }}
      {{ errorf "Unable to get remote resource %q" . }}
    {{ end }}
  {{ end }}
{{ end }}
